streamlit
xlrd
scikit-learn==0.23.1

def load_data():
    return pd.read_excel("dataset/predictv1.1.xlsx")

def data_precosess():
    df = load_data()
    df["clean_tweets"] = df["tweet"].apply(lambda x: TweetNormalizer.tweet_preprocessing(x))
    df.dropna(subset=['clean_tweets'], inplace=True)
    pred_texts = df['clean_tweets']
    return pred_texts

model = st.sidebar.selectbox("Select Classifier",("SVM","LSTM","Bertweet"))

if model == "SVM":
    if st.sidebar.button("Classify", key='classify'):
        st.subheader("Support Vector Machine (SVM) Results")
        model = pickle.load(open("Models/SVM_model.pkl", 'rb'))
        text = data_precosess()
        prediction = model.predict(text)
        st.write(len(prediction))